#s_h_1 {
  max-height: 115px;
}
#sub_head {
  /* border: 2px solid red; */
  width: 95%;
  margin: 200px auto 0px auto;
  background-color: white;
  box-sizing: border-box;
  /* max-height: 115px; */
}
#h_sub1,
#h_sub2 {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
  padding: 0rem 1rem;
}
#h_sub2 {
  position: absolute;
  z-index: 0;
  top: -50x;
  width: 84%;
}
#h_sub1_left > div:first-child {
  /* border: 2px solid red; */
  width: 6rem;
  height: 7rem;
  padding: 0.5rem 0rem !important;
  overflow: hidden;
}
#h_sub1_left_img {
  /* border: 2px solid blue; */
  width: 100% !important;
  height: 100%;
  padding: 0 !important;
  width: 100px;
  height: 100px;
}
#h_sub1_left,
#h_sub2_left {
  display: flex;
}
#h_sub1_left2 div {
  /* border: 2px solid red; */
  /* padding-left: 0.5rem; */
  display: flex;
  /* line-height: 1.5; */
}
#h_sub1_left2 {
  font-size: 13px;
}
#h_sub1_left2 {
  margin: auto;
}
#h_sub1_left2 > div:first-child h1 {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
#h_sub1_left2 > div:nth-child(2) > div {
  /* border: 2px solid red; */
  padding: 0rem 0.5rem;
  border-right: 1px solid grey;
  align-items: center;
  max-height: 20px;
}
#h_sub1_left2 p,
h4 {
  font-size: 14px;
}
.h_sub1_left2_c1 {
  /* padding-right: 5px; */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 77, 77, 0.692);
  color: white;
  font-size: 8px;
  margin-right: 3px;
}
#h_sub1_left2_c2 {
  color: rgb(54, 211, 54);
  margin-right: 3px;
}
#h_sub1_left2_c3 {
  color: rgb(15, 147, 71);
  margin-right: 3px;
}
#h_sub1 > div:nth-child(2) {
  /* border: 1px solid red; */
  margin: 1rem 0rem;
  /* height: 2.5rem; */
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: flex-end; */
  width: 12rem;
  /* align-items: column reverse; */
  /* padding-bottom: 0px !important; */
}
.h_sub1_btn {
  /* height:100%; */
  border: 1px solid #02a699;
  padding: 0.5rem;
  color: #02a699;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  margin-bottom: 0px !important;
}
a :visted {
  background-color: blue;
  color: blue;
}
#h_sub2_left {
  flex-grow: 0.96;
  background-color: #eaeaf4;
  height: 2.5rem;
}
#h_sub2_left a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}
#h_sub2_left > div {
  /* border: 1px solid red; */
  padding: 0rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #h_sub2_left > div:first-child{
} */
#h_sub2 > div:nth-child(2) {
  /* background-color:red; */
  width: 12rem;
}
.h_sub2_btn {
  padding: 0.5rem;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  background-color: #00a699;
  border: 1px solid #038379;
  color: white;
}
